<form class="row g-3" [formGroup]="userForm">
    <div class="col-md-4">
      <label for="inputName4" class="form-label">Name</label>
      <input type="input" class="form-control" id="inputName4" formControlName="name">
    </div>
    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" formControlName="email">
    </div>
    <div class="col-md-4">
      <label for="inputAge4" class="form-label">Age</label>
      <input type="number" class="form-control" id="inputAge4" formControlName="age">
    </div>
   
    <div class="col-12">

      <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>

    </div>
  </form>