<table class="table table-hover mb-3" cdkDropList (cdkDropListDropped)="drop($event)">
    <thead>
        <tr class="table-dark">
            <th>Sno.</th>
            <th>
                First Name
            </th>
            <th>
                Company </th>
            <th>
                Gender
            </th>
            <th>
                Age
            </th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let user of array2 ; let i = index" class="table-primary" cdkDrag>
            
            <td>{{i+1}}</td>
            <td>
                
                {{user.firstName}}
            </td>
            <td>
                {{user.company}}
            </td>
            <td>
                {{user.gender}}
            </td>
            <td>
                {{user.age}}
            </td>
        </tr>
    </tbody>
</table>

<h2>

    Replaced company from 1rivet to tesla 
</h2>
<table class="table table-hover mb-3">
    <thead>
        <tr class="table-dark">
            <th>Sno.</th>
            <th>
                First Name
            </th>
            <th>
                Company </th>
            <th>
                Gender
            </th>
            <th>
                Age
            </th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let user of mapedArray ; let i = index" class="table-success">
            
            <td>{{i+1}}</td>
            <td>
                
                {{user.firstName}}
            </td>
            <td>
                {{user.company}}
            </td>
            <td>
                {{user.gender}}
            </td>
            <td>
                {{user.age}}
            </td>
        </tr>
    </tbody>
</table>


<input type="date" name="" id="" (change)="fromDate($event)" min={{todate}}>
<input type="date" name="" id="" (change)="toDate($event)" max={{fromdate}}>

<input type="file" name="" id="" (change)="readFile($event.target)">

<p>dashboard works!</p>
<select (change)="getValue($event)">
    <option value="add-options">ADD +</option>
    <option value={{option.value}} *ngFor="let option of options" [selected]="option.default">{{option.value}}</option>

</select>
<input type="text" name="" id="input" *ngIf="showInput" [(ngModel)]="value"  onfocus="this.value = ''"> 
<button (click)="add()" *ngIf="showInput">Add</button>