<table>
    <thead>
        <tr>
            <th>Sno.</th>
            <th>
                First Name
            </th>
            <th>
                Company </th>
            <th>
                Gender
            </th>
            <th>
                Age
            </th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let user of array2 ; let i = index" >
            
            <td>{{i+1}}</td>
            <td>
                
                {{user.firstName}}
            </td>
            <td>
                {{user.company}}
            </td>
            <td>
                {{user.gender}}
            </td>
            <td>
                {{user.age}}
            </td>
        </tr>
    </tbody>
</table>
<br><br><br><br>
replaced company from 1rivet to tesla 
<table>
    <thead>
        <tr>
            <th>Sno.</th>
            <th>
                First Name
            </th>
            <th>
                Company </th>
            <th>
                Gender
            </th>
            <th>
                Age
            </th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let user of mapedArray ; let i = index" >
            
            <td>{{i+1}}</td>
            <td>
                
                {{user.firstName}}
            </td>
            <td>
                {{user.company}}
            </td>
            <td>
                {{user.gender}}
            </td>
            <td>
                {{user.age}}
            </td>
        </tr>
    </tbody>
</table>

