// Project base and component style import
// Vendor base and component style import
@import '../src/assets/scss/base/index';

@import '../src/assets/scss/vendor/bootstrap-base';

@import '../src/assets/scss/vendor/bootstrap-components';


// Project Specific Components
@import '../src/assets/scss/component/index';

// Now other style import
@import '../src/assets/scss/layout/index';

@import '../src/assets/scss/utilities/index';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');





/* You can add global styles to this file, and also import other style files */
* {
 
font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
}

.btn-outline-primary{
  color: grey;
  
}
// helper class



// app component



#toogleCheckBox:checked ~ .sidenav .links,
#toogleCheckBox:checked ~ .sidenav .sidebarHead {
  transform: translateX(250px);
}

// #toogleCheckBox:checked ~ .sidenav .btn_sidenav {
//   // justify-content: center;
// }
#toogleCheckBox:checked ~ .sidenav {
  flex: 0 0 76px;
  
  // background-color: #6777b2;
}

// user component
// user form
// user form head
.userFormHead {
  
  h2 {
    font-size: 1.5rem;
    // font-weight: 400;
  }
  .userFormHead_operations {
    
    justify-content: space-between;
    select {
      margin-left: 10px;
      width: 200px;
      height: 38px;
      border-radius: 8px;
    }
    .newEmployeeBtn {
      height: 38px;

      color: #ffffff;
      background-color: #2d56e6;
      border: none;
      font-weight: 700;
      border-radius: 8px;
      // border-color: ;
      align-self: flex-start;
      width: 150px;
      &:disabled {
        background-color: #2d55e68c;
      }
    }
  }
}

// userform form

.Userform {
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.438);
  margin: 20px;
  padding: 10px;

  .form-row {
    justify-content: space-between;
  }
  .form_col {
    // width: 100%;
    width: 23%;
    margin: 15px 15px 0;
    input,
    select {
      width: 100%;
      height: 38px;
    }
  }
  .form_select_container {
    justify-content: center;
    padding-top: 10px;
    width: 100%;
  }
  .btn_container {
    justify-content: right;
    margin-top: 10px;

    .btn {
      width: 200px;
      height: 35px;
      margin: 0 10px;
      border-radius: 8px;
      border: none;

      &.btn_cancel {
        color: white;
        background-color: #171f46;
      }
      &.btn_save {
        color: white;
        background-color: #2d56e6;
      }
    }
  }
}
//user table

.user_container,
.userList {
  width: 100%;
  border: 1px solid #e6e7eb;
  border-radius: 8px;
  overflow: hidden;
  .table-cell {
    padding: 12px;
    border-top: 1px solid #e6e7eb;
  }
  .table_head {
    background-color: #e6e7eb;
    text-align: left;
    // height: ;
  }
  .table_body {
    background-color: white;
    border-bottom: #bebfc3;
  }
  tr {
    td:last-child,
    th:last-child {
      text-align: right;
      padding-right: 20px;
    }
  }
}

// employee component
.btnAddEmployee {
  color: #ffffff;
  background-color: #2d56e6;
  border: none;
  // font-weight: 700;
  border-radius: 8px;
  margin-right: 20px;
  width: 200px;
  height: 35px;
  // margin: 0 10px;
  border-radius: 8px;
  border: none;
  // border-color: ;
  // align-self: flex-start;
  // width: 150px;
}

// /////////// media query  tablet view
@media (max-width: 768px) {
}

// //////////////// mobile view
@media (max-width: 576px) {
}

.deleteDialogBox {
  padding: 2rem;

  background-color: white;
  button{
    margin-right: .5rem;
    padding: .25rem .75rem;
  }
  .delete{
background-color: red;
  }

}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}